*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
background-color: #0F0F0F;
color: white; 
}


.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 50%;
  min-width: 0;
}


.my-icon {
  fill: white;
}